<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header> </header>
    <row></row>

    <!--<canvas id="canvas"></canvas>-->

    <!--<div class="container" id="container">-->

        <!--&lt;!&ndash;<span class="info" id="font-name">Fira Sans</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<canvas id="preview" width="940" height="300" class="text"></canvas>&ndash;&gt;-->
        <!--&lt;!&ndash;<div id="message"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" class="text-input" onkeyup="renderText()" value="Hello, World!"&ndash;&gt;-->
               <!--&lt;!&ndash;autofocus id="textField">&ndash;&gt;-->
        <!--&lt;!&ndash;<label>Font Size<input type="range" min="6" max="500" step="2" value="150" id="font-size-range" autocomplete="off"><span id="fontSize">150</span></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label><input type="checkbox" onchange="drawPointsChanged(this)" checked="checked">Draw Points</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label><input type="checkbox" onchange="drawMetricsChanged(this)">Draw Metrics</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label><input type="checkbox" onchange="kerningChanged(this)" checked="checked">Kerning</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label><input type="checkbox" onchange="ligaturesChanged(this)" checked="checked">Ligatures</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label id="hinting-label" class="disabled"><input id="hinting-checkbox" type="checkbox" onchange="hintingChanged(this)" disabled="true">Hinting</label>&ndash;&gt;-->

        <!--&lt;!&ndash;<hr>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="explain">&ndash;&gt;-->
            <!--&lt;!&ndash;Once you have the shapes, you can modify them, for example by <strong>snapping</strong> them to a virtual grid:&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<canvas id="snap" width="940" height="300" class="text"></canvas>&ndash;&gt;-->
        <!--&lt;!&ndash;<label>Strength <input type="range" min="0" max="100" value="80" oninput="snapStrengthChanged(this)"/><span id="snapStrength">80</span></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label>Distance<input type="range" min="1" max="100" value="53" oninput="snapDistanceChanged(this)"/><span id="snapDistance">53</span></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label>X<input type="range" min="-100" max="100" value="0" oninput="snapXChanged(this)"/><span id="snapX">0</span></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label>Y<input type="range" min="-100" max="100" value="0" oninput="snapYChanged(this)"/><span id="snapY">0</span></label>&ndash;&gt;-->

    <!--<div class="content">-->

    <!--</div>-->
    <script src="https://cdn.jsdelivr.net/npm/opentype.js@latest/dist/opentype.min.js"></script>

</body>
</html>
