<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="wrapper-outside">
    <header id="headline"> </header>
    <div class="wrapper-inside">
        <div id="artist"></div>
        <row></row>
    </div>
</div>


<p id="textContainerDesktop" style="display: none">
Sehen sie den Dreck? fragte er. Nicht nur in den Ritzen, nicht nur versteckt hinterm
Schrank usf. sozusagen nicht nur im Geheimen. Nein, ganz offensichtlich liegt er
hier... in all seiner grausamen Unendlichkeit. Wir kämpfen ja seit je her gegen den
Dreck und im Grunde mittlerweile eigentlich nur noch gegen den Staub und den Dreck,
wie er ganz offensichtlich ganz von alleine, ohne jedwedes Zutun immer
und immer wieder überall liegt. Man wischt. Man wischt ja im Grunde immerzu und
der Dreck kommt gleich wieder. Ich wische über den Flurboden und denke: jetzt ist
der Dreck weg... aber wissen Sie... der Dreck ist eigentlich nicht weg, ist nie weg
und selbst wenn wir fest davon überzeugt sind, der Dreck sei beseitigt, sei fort, ist
der Dreck noch immer da und vor allem nach kürzester Zeit auch wieder
offensichtlich da. Heute haben wir mehr Dreck als früher, auch wenn das alle
abstreiten. Die Leute streiten ja ab, dass wir heute mehr Dreck als früher haben
und behaupten allen Ernstes, der Dreck habe sich verringert, währenddessen man
zugeben muss, dass der Dreck sich im Grunde nur verschlimmert habe. Sehen sie,
ich wische hier über den Tisch und verschmiere den Dreck eigentlich nur. Der
Lumpen saugt den Dreck gar nicht mehr auf, sondern verwischt ihn bestenfalls,
schlimmstenfalls aber hat der Lumpen auf den Dreck überhaupt keine Wirkung.

Wir alle ersticken ja am Dreck, führen ein dreckiges Leben im Dreck und in
Kooperation mit dem Dreck, mit dem wir uns abgefunden haben. Daher erscheint
uns der Dreck nicht mehr bedeutend. Der Dreck aber ist das absolut bedeutenste
und war es immer. Ich wische also und wische und der Dreck ist nach der
kürzesten Zeit einfach wieder da... Man erstickt ja im Dreck. Man wischt ja im
Grunde nur noch gegen den Schmutz an und nennt das Leben. Es wird nichts
mehr geschaffen, sondern nur wiederhergestellt... aber im Kern verfault alles und
am Ende hat man nichts. Man kämpft ja um die eigene Existenz, also gegen den
Schmutz aber der Schmutz gewinnt immer und wir führen eine fürchterliche
Existenz im Dreck oder versuchen am Dreck vorbei zu leben. Ich kann aber nicht
am Dreck vorbei leben und lebe dadurch jeden Tag für den Dreck. EIn Leben fü̈r
den Schmutz! Das solle ich mir mal vorstellen, sagte er lachend. Wir stehen ja
morgens früh auf für den Dreck. Wischen hier und dort, versuchen uns am Leben
zu halten, für den Dreck, dass wir ihn wischen können, also im Grunde gegen den
Dreck. Man lebt nicht mehr für etwas, man lebt im Grunde nur noch gegen etwas
und dieses Etwas, das ist der Dreck. Man lebt quasi gegen den Dreck an und in
jeden neuen Tag hinein und immer für den Schmutz in den Ritzen, im Spalt, in den
Löchern usf. aber auch auf der Fläche, sagte er. Im Grunde aber mache man sich
ja zum Affen für den Dreck. Das sei eine entsetzliche Vorstellung, wie er finde...
ein Affe des Drecks zu sein. Es stink immer, sagte er. Es stinkt drinnen, es
stinkt draußen... da könne man sich das Lüften gleich sparen und immer im Kampfe
gegen den Dreck und immer im Überlebenskampfe gegen den Erstickungstod.
Wolle er jede Ecke, jeden Winkel abstauben und das täglich, gründlich, bräuchte er
am Tage mehr Stunden als einem der Tag Überhaupt naturgemäß bereitstellt. Die
Einrichtungen werden ja immer reduzierter. Hier ein Schemel, da noch ein Tisch,
darauf eine Vase. Das muss heutzutage reichen, wo der Dreck unbesiegbar
geworden ist. Der Minimalismus und Purismus, das seien ja Gegenmaßnahmen,
seien Versuche gegen den Dreck... aber der Dreck gewinnt immer. Wo man
hinkommt, es wimmelt der Schmutz und alles ist mir ekelhaft geworden und ich
verlasse das Haus kaum noch... habe meine ganze Existenz ins Aufwischen
geworfen, hinein in den Dreck geworfen, dem Dreck alles gewidmet und geopfert...
aber auch um zu Überleben.
</p>
<p id="textContainerMobile" style="display: none">
Sehen sie den Dreck? fragte er. Nicht nur
in den Ritzen, nicht nur versteckt hinterm
Schrank usf. sozusagen nicht nur im Geheimen.
Nein, ganz offensichtlich liegt er hier...
in all seiner grausamen Unendlichkeit.
Wir kämpfen ja seit je her gegen denDreck
und im Grunde mittlerweile eigentlich nur
noch gegen den Staub und den Dreck, wie er
ganz offensichtlich ganz von alleine, ohne
jedwedes Zutun immer und immer wieder überall
liegt. Man wischt. Man wischt ja im Grunde
immerzu undder Dreck kommt gleich wieder.
Ich wische über den Flurboden und denke:
jetzt ist der Dreck weg... aber wissen Sie...
der Dreck ist eigentlich nicht weg, ist nie weg
und selbst wenn wir fest davon überzeugt sind,
der Dreck sei beseitigt, sei fort, ist der
Dreck noch immer da und vor allem nach
kürzester Zeit auch wieder offensichtlich da.
Heute haben wir mehr Dreck als früher, auch
wenn das alle abstreiten. Die Leute streiten
ja ab, dass wir heute mehr Dreck als früher
haben und behaupten allen Ernstes, der Dreck
habe sich verringert, währenddessen man zugeben
muss, dass der Dreck sich im Grunde nur ver-
schlimmert habe. Sehen sie,ich wische hier
über den Tisch und verschmiere den Dreck
eigentlich nur. Der Lumpen saugt den Dreck
gar nicht mehr auf, sondern verwischt ihn
bestenfalls, schlimmstenfalls aber hat der
Lumpen auf den Dreck überhaupt keine Wirkung.

Wir alle ersticken ja am Dreck,
führen ein dreckiges Leben im Dreck und in
Kooperation mit dem Dreck, mit dem wir uns
abgefunden haben. Daher erscheint uns der
Dreck nicht mehr bedeutend. Der Dreck aber
ist das absolut bedeutenste und war es immer.
Ich wische also und wische und der Dreck ist
nach der kürzesten Zeit einfach wieder da...
Man erstickt ja im Dreck. Man wischt ja im
Grunde nur noch gegen den Schmutz an und
nennt das Leben.
Es wird nichts mehr geschaffen, sondern nur
wiederhergestellt... aber im Kern verfault
alles und am Ende hat man nichts.
Man kämpft ja um die eigene Existenz, also
gegen den Schmutz aber der Schmutz gewinnt
immer und wir führen eine fürchterliche
Existenz im Dreck oder versuchen am Dreck
vorbei zu leben. Ich kann aber nicht
am Dreck vorbei leben und lebe dadurch jeden
Tag für den Dreck. EIn Leben fü̈r den Schmutz!
Das solle ich mir mal vorstellen, sagte er
lachend. Wir stehen ja morgens früh auf für
den Dreck. Wischen hier und dort, versuchen
uns am Leben zu halten, für den Dreck, dass
wir ihn wischen können, also im Grunde gegen
den Dreck. Man lebt nicht mehr für etwas,
man lebt im Grunde nur noch gegen etwas und
dieses Etwas, das ist der Dreck.
Man lebt quasi gegen den Dreck an und in
jeden neuen Tag hinein und immer für den
Schmutz in den Ritzen, im Spalt, in den
Löchern usf. aber auch auf der Fläche,
sagte er. Im Grunde aber mache man sich ja
zum Affen für den Dreck. Das sei eine ent-
setzliche Vorstellung, wie er finde...
ein Affe des Drecks zu sein. Es stinkt immer,
sagte er.
Es stinkt drinnen, es stinkt draußen...
da könne man sich das Lüften gleich sparen und
immer im Kampfe gegen den Dreck und immer im
Überlebenskampfe gegen den Erstickungstod.
Wolle er jede Ecke, jeden Winkel abstauben und
das täglich, gründlich, bräuchte er am Tage
mehr Stunden als einem der Tag Überhaupt natur-
gemäß bereitstellt. Die Einrichtungen werden
ja immer reduzierter. Hier ein Schemel, da noch
ein Tisch, darauf eine Vase. Das muss heutzutage
reichen, wo der Dreck unbesiegbar geworden ist.
Der Minimalismus und Purismus, das seien ja
Gegenmaßnahmen,seien Versuche gegen den Dreck...
aber der Dreck gewinnt immer. Wo man hinkommt,
es wimmelt der Schmutz und alles ist mir ekel-
haft geworden und ich verlasse das Haus kaum
noch... habe meine ganze Existenz ins Aufwischen
geworfen, hinein in den Dreck geworfen,
dem Dreck alles gewidmet und geopfert...
aber auch um zu Überleben.
</p>

<script src="https://cdn.jsdelivr.net/npm/opentype.js@latest/dist/opentype.min.js"></script>

</body>
</html>
