// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    padding-left: 20px;
}
.grid{
    font: "Pragmata Pro";
}
.snapGrid{
    //height:400px;
    //width:400px;
}

$sideRow: 100px;
.wrapper-outside {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    #headline {
        width: 100%;
        padding-left: $sideRow;
        canvas {
            margin-left: -22px;
        }
    }
    .wrapper-inside {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        row {
            width:  calc(100% - #{$sideRow});
            padding-top: 60px;
        }
        #artist {
            canvas {
                margin-left: 24px;
            }
            width: $sideRow;
            height: 100%;
        }
    }
}

row{
    display: flex;
    flex-direction: row;
    .container{
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
    }
}
header{
    display: flex;

    .container{
        //flex-direction: row;
        //flex-flow: row;
        //max-width: 900px;
        margin: 0;
        //display: flex;
        //flex-direction: row;
    }
}
.sideSnap{
    //position: absolute;
    display: flex;
    flex-direction: column;
}
.sidebar{
    //position: fixed;
}
canvas#head0{
    display: none;
}
canvas#inner0{
    display: none;

}
